/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* * {
    margin: 0;
    padding: 0;
} */

html,
body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    /* min-height: 100vh;
    min-width: 100; */
    margin: 0;
}

/* section {
    height: 100%;
} */

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*! SECTION1 */
#section1 {
    background-image: url("../assets/images/bg-home.png");
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: white;
    font-size: 24px;
    padding-left: 30px;
}

.nav-pane {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}
.nav-links {
    padding: 20px;
    font-weight: 300;
}

.contact-div {
    padding-right: 15px;
}

.contact {
    background-color: rgba(255, 255, 255, 0.52);
    border: 1.8px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    padding: 5px;
}

/* Homepage */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 100vh;
    /* padding-top: 120px;
    padding-bottom: 150px;  */
}

.self-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.self-intro-text {
    color: white;
    font-weight: 300;
    width: 300px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 300px;
}

/*! SECTION2 */

#section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.about {
    font-size: 32px;
    padding: 5px;
}

.about-me {
    display: flex;
    flex-direction: column;;
}

.about-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-bottom: 10px; */
}

.pictures {
    max-width: 330px;
    max-height: 200px;
    border-radius: 5px;
    padding: 5px;
}

.about-text-div {
    display: flex;
    justify-content: center;

}

.about-text {
    font-size: 16px;
    max-width: 800px;
    padding: 10px;
}

/*! SKILLS */
#section3 {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 226, 183, 1);
    min-height: 100vh;
}

.skills {
    text-align: center;
    font-size: 32px;
    padding: 5px;
}

.my-skills {
    display: flex;
    flex-direction: column;
}

.my-skills img {
    max-width: 350px;
    border-radius: 5px;
    margin-bottom: -8px;
}

.my-skills h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.my-skills p {
    max-width: 320px;
    font-size: 15px;
    margin-top: 0;
}

.top,
.bottom {
    padding: 8px;
}

.my-skills1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*! SECTION4 */
#section4 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.projects {
    text-align: center;
    font-size: 32px;
    padding: 5px;
}

.my-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    /* align-items: center; */
}

.my-projects img {
    max-width: 300px;
    max-height: 280px;
    margin-bottom: -10px;
    border-radius: 10px;
}

.my-projects h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -3%;
    margin-top: 0;
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6px;
}

/*! SECTION5 */
#contact {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 226, 183, 1);
    min-height: 100vh;
}

.contact-me {
    font-size: 32px;
    padding: 5px;
    text-align: center;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* height: 100%; */
}

.top-form {
    display: flex;
    flex-direction: column;
}

.top-form input {
    border: none;
    min-height: 40px;
    border-radius: 5px;
    min-width: 400px ;
    margin-bottom: 10px;
    padding: 4px;
    font-size: 14px;
}

.top-form label {
    color: rgba(54, 54, 54, 0.5);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: -3px;
}

.top-form textarea {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

textarea:focus, 
input:focus {
    outline: none;
    box-shadow: 6px 6px 6px rgb(151, 165, 100);
}

textarea:hover,
input:hover {
    box-shadow: 6px 6px 6px rgb(151, 165, 100);
}

.top-form textarea::placeholder {
    display: flex;
    /* justify-content: center; */
    align-self: center;
    font-size: 14px;
    max-width: 280px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: rgba(54, 54, 54, 0.438);
    padding: 15%;
}

.linkedin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkedin-pic {
    max-width: 50px;
    max-height: 50px;
    /* max-height: 20%; */
}

.link-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px;
}

.link-pic {
    max-width: 25%;
}
.linkedin-text {
    margin: 5px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.submit button:hover {
    background-color: rgb(160, 180, 94);
    color: white;
    box-shadow: 6px 6px 6px rgb(124, 139, 69);
}

.submit button:active {
    transform: scale(1.1);
}

.submit button {
    color: rgba(255, 255, 255, 0.863);
    background-color: rgb(179, 197, 120);
    font-size: 15px;
    font-weight: bold;
    /* border: 2px solid rgb(125, 143, 65); */
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 15px;
    /* margin-left: 0px; */
}

/*! FOOTER */
#footer {
    /* min-height: 100vh; */
    color: black;
    padding: 10px;
}

.footer-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.joseph-cp,
.github,
.twitter,
.instagram {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.copy-pic {
    width: 12px;
    height: 12px;
} 

.joseph-cp p {
    color: black;
    margin-bottom: 4px;
    font-weight: 600;
}

.github p,
.twitter p,
.instagram p {
    color: black;
    margin: 6px;
    font-size: 14px;
}

.joseph-cp img,
.github img,
.twitter img,
.instagram img {
    max-width: 30px;
    max-height: 30px;
}

.footnote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footnote-text {
    color: black;
}

.nav-links-foot p {
    color: black;
    font-size: 14px;
    text-align: right;
}

