/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* * {
    margin: 0;
    padding: 0;
} */

html,
body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    /* height: 100%;
    width: 100%; */
    margin: 0;
}

section {
    height: 100%;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*! SECTION1 */
#section1 {
    background-image: url("../assets/images/bg-home.png");
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: white;
    font-size: 24px;
    padding-left: 30px;
}

.nav-pane {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}
.nav-links {
    padding: 20px;
    font-weight: 300;
}

.contact-div {
    padding-right: 15px;
}

.contact {
    background-color: rgba(255, 255, 255, 0.52);
    border: 1.8px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    padding: 5px;
}

/* Homepage */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* height: 100vh; */
    padding-top: 120px;
    padding-bottom: 150px; 
}

.self-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.self-intro-text {
    color: white;
    font-weight: 300;
    width: 300px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 300px;
}

/*! SECTION2 */

#section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about {
    font-size: 32px;
    padding: 5px;
}

.about-me {
    display: flex;
    flex-direction: column;;
}

.about-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-bottom: 10px; */
}

.pictures {
    max-width: 330px;
    max-height: 200px;
    border-radius: 5px;
    padding: 5px;
}

.about-text-div {
    display: flex;
    justify-content: center;

}

.about-text {
    font-size: 16px;
    max-width: 800px;
    padding: 10px;
}

/*! SKILLS */
#section3 {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 226, 183, 1);
}

.skills {
    text-align: center;
    font-size: 32px;
    padding: 5px;
}

.my-skills {
    display: flex;
    flex-direction: column;
}

.my-skills img {
    max-width: 350px;
    border-radius: 5px;
    margin-bottom: -8px;
}

.my-skills h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.my-skills p {
    max-width: 320px;
    font-size: 15px;
    margin-top: 0;
}

.top,
.bottom {
    padding: 8px;
}

.my-skills1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*! SECTION4 */
#section4 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.projects {
    text-align: center;
    font-size: 32px;
    padding: 5px;
}

.my-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
}

.my-projects img {
    max-width: 300px;
    max-height: 280px;
    margin-bottom: -10px;
    border-radius: 10px;
}

.my-projects h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -3%;
    margin-top: 0;
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6px;
}


